@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  /* Text Color */
  --black-1: #000;
  --black-2: #272829;
  --white-1: #fff;
  --white-2: #eee;
  --pink-1: #fee3ec;
  --pink-2: #f9c5d5;
  --pink-3: #f999b7;
  --pink-4: #f2789f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}
body {
  font-family: Oswald, sans-serif;
}

/* ===== Buttons ===== */
.btn {
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  background: var(--white-2);
  cursor: pointer;
}

/* ===== Card ===== */
.card {
  box-shadow: 0.3rem 0.3rem 0.7rem #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2rem solid;
  border-radius: 0.4em;
}

/* ===== Header Section Start ===== */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 10%;
  transition: 0.5s;
  z-index: 10;
}
header.sticky {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0.1rem 5px 5px rgba(255, 255, 255, 0.3);
  padding: 1rem 10%;
}
header .logo a {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black-1);
  transition: 0.3s;
}
header .logo a:hover {
  color: var(--pink-4);
}
header.sticky .logo a:hover {
  color: var(--pink-4);
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}
.nav-lists li a {
  font-size: 1.5rem;
  color: var(--black-1);
}
.nav-lists li.active a {
  color: var(--pink-4);
  text-shadow: 3px 3px 5px var(--pink-2);
}
.nav-lists li a:hover {
  color: var(--white-1);
  text-shadow: 3px 3px 5px var(--black-1);
}
.nav-lists li a:active {
  color: var(--pink-4);
  text-shadow: 3px 3px 5px var(--pink-2);
}
header.sticky .nav-lists li a:hover {
  color: var(--pink-3);
  text-shadow: 3px 3px 5px var(--white-1);
}
header.sticky .nav-lists li a:active {
  color: var(--pink-4);
}
.nav-lists .login {
  display: none;
}
header .login {
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;
  background: var(--black-1);
  color: var(--white-1);
  transition: 0.3s;
}
header .login:hover {
  scale: 1.05;
  color: var(--black-1);
  background: var(--white-1);
}
header .login:active {
  scale: 0.95;
  background: var(--pink-4);
}
header.sticky .login:hover {
  scale: 1.05;
  color: var(--white-1);
  background: var(--pink-3);
}
header.sticky .login:active {
  scale: 0.95;
  background: var(--pink-4);
}
.nav-extras li {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav-extras li:hover i {
  color: var(--white-1);
  text-shadow: 3px 3px 3px rgba(1, 1, 1, 1);
}
header.sticky .nav-extras li:hover i {
  color: var(--pink-4);
  text-shadow: 3px 3px 3px rgba(1, 1, 1, 1);
}
.nav-extras li i {
  font-size: 2rem;
  transition: 0.5s;
}
header .nav-extras .menu-btn {
  display: none;
}
/* ===== Header Section End ===== */

/* ===== Hero Section Start ===== */
.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/background/hero-bg.jpg) no-repeat right center;
  background-size: cover;
}
.hero .container {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .container h1 {
  font-size: 3rem;
  color: var(--black-1);
  line-height: 1.2;
}
.hero .container span {
  color: var(--pink-4);
}
.hero .container p {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  color: var(--pink-4);
  line-height: 1.4;
}
.hero .container .cta {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-1);
  background: var(--pink-2);
  border: 1px solid var(--white-1);
}
.hero .container .cta:hover {
  color: var(--black-1);
  background: var(--pink-3);
}
/* ===== Hero Section End ===== */

/* ===== Services Section Start ===== */
#services {
  background: var(--white-1);
  margin: 2rem 0;
}
.services h1 {
  text-align: center;
  font-size: 3rem;
}
.services h1 span {
  color: var(--pink-4);
}
.about-us .container {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  margin: 3rem;
}
.about-us .videotron {
  flex: 1 1 40rem;
}
.about-us .videotron video {
  width: 100%;
}
.about-us .content {
  flex: 1 1 40rem;
}
.about-us .content h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about-us .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}
.our-services {
  background: var(--white-2);
}
.our-services .container {
  padding: 2rem;
}
.our-services .card-rows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
}
.our-services .card-rows .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 240px;
  gap: 2rem;
  padding: 2rem;
  background: var(--white-1);
}
.our-services .card-rows .card:hover {
  border: rgba(51, 52, 58, 1) 0.2rem solid;
}
.our-services .card-rows .card i {
  font-size: 3rem;
}
.our-services .card-rows .card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 2rem 0 0;
}
.our-services .card-rows .card span {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 2rem 0 0;
}
/* ===== Services Section End ====

/* ===== Products Section Start ===== */
#products {
  background: var(--white-1);
  margin-top: 2rem;
  /* min-height: 100vh; */
}
.products .container {
  padding: 2rem 7%;
}
.products h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.products h1 span {
  color: var(--pink-3);
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 4% 5rem;
}
.product .product-slider {
  margin: 0 5rem;
  overflow: hidden;
}
.product-slider .card-rows {
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.product-slider .card-rows .card {
  background: var(--white-1);
  border-radius: 8px;
  overflow: hidden;
}
.product-slider .card-rows #all-product {
  display: flex;
  margin: auto;
  width: 0;
  color: var(--black-1);
}
.product-slider .card-rows #all-product a {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black-1);
}
.product-slider .card-rows .card .img-box {
  height: 300px;
  border-radius: 8px 8px 0 0;
}
.product-slider .card-rows .card .img-box img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 8px 8px 0 0;
}
.product-slider .card-rows .card .info-box {
  padding: 1rem 1rem 1rem 1rem;
}
.product-slider .card-rows .card .info-box h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.product-slider .card-rows .card .info-box h3 {
  font-size: 1rem;
  font-weight: 600;
}
.product-slider .card-rows .card .btn-box {
  display: flex;
  gap: 0.2rem;
}
.product-slider .card-rows .card .btn-box button {
  font-size: 1rem;
  font-weight: 600;
}
.product-slider .card-rows .card .btn-box button.buy {
  flex: 1 1 10rem;
}
.product-slider .card-rows .card .btn-box button.cart {
  flex: 1 1 1rem;
}
.product-slider .swiper-nav .arrow-btn {
  color: var(--black);
  padding: 1.5rem;
  background: var(--pink-2);
  border: none;
  border-radius: 50%;
}
.product-slider .swiper-nav .arrow-btn::before,
.product-slider .swiper-nav .arrow-btn::after {
  font-size: 18px;
}
.product-slider .swiper-nav .swiper-pagination-bullet-active {
  background: var(--pink-4);
}
/* ===== Products Section End ===== */

/* ===== Contacts Section Start ===== */
#contacts {
  min-height: 100vh;
  background: var(--white-2);
}
/* ===== Contacts Section End ===== */

/* ===== Footer Section ===== */
footer {
  background: var(--pink-3);
}
footer .content {
  width: 100%;
  padding: 70px 30px 20px;
}
footer .sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .sosmed a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--white-1);
}
footer .sosmed a i {
  font-size: 2rem;
  color: var(--black-1);
  opacity: 0.9;
}
footer .sosmed a:nth-child(1):hover,
footer .sosmed a:nth-child(1):hover i {
  color: #fff;
  background: rgba(24, 119, 242, 1);
  transition: all 0.3s ease-out;
  filter: blur();
}
footer .sosmed a:nth-child(2):hover,
footer .sosmed a:nth-child(2):hover i {
  color: #fff;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transition: all 0.3s ease-out;
  filter: blur();
}
footer .sosmed a:nth-child(3):hover,
footer .sosmed a:nth-child(3):hover i {
  color: #fff;
  background: rgba(20, 23, 26, 1);
  transition: all 0.3s ease-out;
  filter: blur();
}
footer .sosmed a:nth-child(4):hover,
footer .sosmed a:nth-child(4):hover i {
  color: #fff;
  background: #333;
  transition: all 0.3s ease-out;
  filter: blur();
}
footer .sosmed a:nth-child(5):hover,
footer .sosmed a:nth-child(5):hover i {
  color: #fff;
  background: rgba(255, 0, 0, 1);
  transition: all 0.3s ease-out;
  filter: blur();
}
footer .nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 2rem;
  margin: 30px;
}
footer .nav-lists li {
  list-style: none;
}
footer .nav-lists li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--black-1);
  transition: 0.3s ease;
}
footer .nav-lists li a:hover {
  color: var(--white-1);
}
footer .copy-r {
  background: var(--pink-4);
  padding: 20px;
  text-align: center;
}
footer .copy-r p {
  color: var(--black-1);
  font-size: 1.1rem;
}
footer .copy-r span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 5px;
}
/* Responsive */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* Tablet */
@media (max-width: 870px) {
  html {
    font-size: 85.5%;
  }
  /* ===== Header Responsive ===== */
  header .nav-lists {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 0.1rem;
    top: 7rem;
    right: 3rem;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    z-index: 0;
  }
  header .nav-lists.open {
    height: 240px;
    padding: 10rem 1rem;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
  }
  header .nav-lists li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .nav-lists .login {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header .nav-extras .menu-btn {
    display: block;
  }
  header .nav-extras .login {
    display: none;
  }
}

/* Mobile Phone */
@media (max-width: 490px) {
  html {
    font-size: 75%;
  }
  /* ===== Header Responsive ===== */
  header .nav-lists {
    left: 2rem;
    width: unset;
  }
  /* ===== Products Responsive */
  .product .product-slider {
    margin: 0;
  }
}
